{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": "current",
          "browsers": [
            "last 2 versions",
            "not dead",
            "not IE > 0"
          ]
        }
      }
    ],
    "react"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env"
        ],
        "react"
      ]
    }
  }
}
